:root {
    --background-color: #333333;
    --text-color: #f1f1f1;
    --primary-color: #237dbd;
    --nav-link-bg-color: #444444;
    --nav-link-hover-color: white;
    --nav-link-hover-bg-color: #237dbd;
    --nav-link-hover-border-color: #f1f1f1;
    --card-url-bg-color: #aaaaaa;
    --card-url-hover-bg-color: #bbbbbb;
    --box-shadow-color: rgba(255, 255, 255, 0.1);
    --box-shadow-hover-color: rgba(255, 255, 255, 0.2);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.nav-link {
    color: var(--text-color);
    background-color: var(--nav-link-bg-color);
}

.nav-link:hover,
.nav-link.active:hover {
    color: var(--nav-link-hover-color);
    background-color: var(--nav-link-hover-bg-color);
    border: 1px solid var(--nav-link-hover-border-color);
}

.card-url {
    background-color: var(--card-url-bg-color);
}

.card-url:hover {
    background-color: var(--card-url-hover-bg-color);
}

.card {
    box-shadow: 0 4px 8px var(--box-shadow-color);
}

.card:hover {
    box-shadow: 0 6px 12px var(--box-shadow-hover-color);
}
