/* Dark Mode Style*/
html {
    transition: color 600ms, background-color 600ms;
}

html[theme='dark-mode'] {
    filter: invert(1) hue-rotate(180deg);

}

html[theme='dark-mode'] img {
    filter: invert(1) hue-rotate(180deg);
}

html[theme='dark-mode'] .png {
    filter: invert(1) hue-rotate(180deg);
}

html[theme='dark-mode'] .jpg {
    filter: invert(1) hue-rotate(180deg);
}

/* End of Dark Mode Style*/